.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  font-family: "Times New Roman", Times, serif;
  margin: 1em;
  padding: 0;
  background: rgb(158, 157, 157);
}
.articleInfo {
  border: 1px solid rgb(235, 4, 4);
  margin: 2em;
  text-align: left;
  background-image: linear-gradient(to right, pink, white 15%);
}

.articleList {
  flex: auto;
}
