.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

p {
  text-indent: 4em;
}

.topPanel,
.bottomPanel {
  margin: 1em;
  text-align: left;
  color: white;
  background-color: rgb(197, 9, 9);
  line-height: 10em;
  font-family: 'Times New Roman', Times, serif;
}

.topPanel {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.articlePanel {
  font-family: 'Times New Roman', Times, serif;
  margin: 1em;
  padding: 0;
  background: rgb(158, 157, 157);
}

.textLeft,
.textRight {
  margin-right: 3em;
}

.textLeft {
  font-weight: bold;
}

@media (min-width: 500px) {
  .textLeft {
    font-size: 1em;
  }
}

@media (min-width: 800px) {
  .textLeft {
    font-size: 1.5em;
  }
}
@media (min-width: 1000px) {
  .textLeft {
    font-size: 2em;
  }
}

@media only print {
  body {
    font-size: 30rem;
  }
}
